@import "../config";

// NAVBAR

.nav {
  @include flexCenter;
  background-color: $color-main;
  height: 10vh;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include medium {
    padding: 10px 30px;
  }

  &__logo {
    width: 200px;
    margin-left: 10px;
  }

  &__menu {
    @include flexCenter(column);
    background-color: rgb(0, 0, 0);
    height: 60vh;
    position: absolute;
    right: 0;
    top: 10vh;
    transform: translate(100%);

    li {
      padding: 20px;
      list-style: none;

      a {
        color: $color-accent;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        @include big {
          font-size: 1rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include big {
      flex-direction: row;
      height: fit-content;
      position: static;
      transform: translate(0%);
    }

    &__active {
      transform: translate(0%);
      width: 100%;
    }
  }

  .hamburger {
    cursor: pointer;
    height: 50px;
    margin: 5px 10px;
    width: 50px;
    z-index: 5;

    @include big {
      display: none;
    }

    div {
      background-color: $color-accent;
      border-radius: 3.2px;
      height: 2px;
      margin-top: 12px;
      position: relative;
      transition: all 0.3s ease-in-out;
      width: 40px;
    }

    &__top-bun__clicked {
      margin-top: 16px;
      transform: rotate(-45deg) translateX(-6.4px) translateY(15px);
    }

    &__meat__clicked {
      margin-top: -7.2px;
      transform: rotate(45deg) translate(5px) translateY(-3.2px);
    }

    &__bottom-bun__clicked {
      opacity: 0;
      transform: rotate(45deg);
    }
  }
}

// FOOTER

.footer {
  @include flexCenter(column);
  background-color: $color-main;
  color: $color-text--light;
  padding: 5px;
  width: 100%;

  &__socials {
    @include flexCenter();
    color: $color-text--light;
    padding: 20px;
    width: 100%;

    &__icon {
      height: 50px;
      margin: 0px 10px;
    }
  }
  &__details {
    display: flex;
    p {
      color: white;
      font-size: clamp(0.6rem, 2vw, 0.8rem);
      padding: 0px 5px 20px 5px;
      text-align: center;
      width: fit-content;
    }
    a {
      color: white;
    }

    a:hover {
      color: $color-accent;
    }
  }
}

// PAGES HEADER

.pages-header {
  @include flexCenter();
  position: relative;
  width: 100%;
  h1 {
    background-color: white;
    font-size: clamp(1.4rem, 4vw, 2rem);
    padding: 40px 10px;
    text-align: center;
    width: fit-content;

    &::before {
      content: "";
      background-color: $color-accent;
      bottom: 0;
      height: 2px;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

/* HOME PAGE - index.js */

.home {
  width: 100%;
  
  &__header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-x: hidden;
    padding-top: 20vh;
    position: relative;
    width: 100%;

    &__text {
      @include flexCenter(column);
    }
    h1 {
      font-weight: 700;
      font-size: clamp(2rem, 10vw, 4rem);
      text-align: center;
      padding-bottom: 2rem;
    }

    h2 {
      background-color: $color-accent;
      color: black;
      font-size: clamp(1rem, 5vw, 2rem);
      font-weight: 400;
      padding: 4px 10px;
      width: fit-content;
    }

    &__photo {
      animation: moveS 30s linear infinite;
      bottom: 0;
      left: 0;
      opacity: 0.1;
      position: absolute;
      width: 800%;
      z-index: -1;
      @include medium {
        width: 400%;
        animation: moveM 20s linear infinite;
      }
      @include big {
        width: 200%;
        animation: moveL 20s linear infinite;
      }
    }
  }

  &__intro {
    @include flexCenter(column);
    padding-bottom: 70px;

    @include big {
      flex-direction: row;
      padding: 150px 20px;
    }

    &__photo {
      height: auto;
      width: 100%;
      @include big {
        max-width: 500px;
        width: 50%;
      }
    }

    &__text {
      max-width: 450px;
      @include flexCenter(column);

      p {
        font-size: 1.2rem;
        max-width: 400px;
        padding: 70px 20px 30px 20px;
        text-align: center;
        width: 100%;
        @include big {
          padding: 20px 20px 20px 40px;
        }
      }

      &__btn {
        background-color: $color-accent;
        border-radius: 5px;
        box-shadow: -2px 3px 2px rgb(205, 204, 204);
        color: black;
        cursor: pointer;
        font-size: 1rem;
        margin: 6px;
        text-decoration: none;
        padding: 20px;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          box-shadow: 0px 0px;
          margin: 8px 8px 4px 4px;
        }
      }
    }
  }

  &__counter {
    background-color: $color-accent;
    color: $color-text--light;
    padding: 30px;
    width: 100%;
    min-height: 200px;

    &__container {
      width: 90%;
      max-width: 800px;

      @include flexCenter();
      img {
        margin-right: 30px;
        height: 60px;
      }

      &__text {
        width: 70%;
        p {
          font-size: clamp(1rem, 5vw, 3rem);
        }
      }
    }
  }

  &__prev-editions {
    @include flexCenter(column);
    padding: 70px 20px;
    @include big {
      flex-direction: row;
      padding: 150px 20px;
    }

    &__text {
      max-width: 400px;
      padding: 0px 20px 50px 20px;

      @include big {
        padding: 20px;
        margin-right: 90px;
      }

      h2 {
        padding-bottom: 20px;
        text-align: center;
      }

      p {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    &__winners {
      background-color: rgb(240, 240, 240);
      border-radius: 10px;
      height: 100%;
      max-width: 400px;
      padding: 30px 10px 10px 10px;
      width: 100%;
      @include flexCenter(column);

      &__img {
        min-width: 100px;
        width: 40%;
      }
    }
  }
}

// background img animation

@keyframes moveS {
  0% {
    left: 0;
  }
  100% {
    left: -400%;
  }
}

@keyframes moveM {
  0% {
    left: 0;
  }
  100% {
    left: -200%;
  }
}

@keyframes moveL {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
