* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  border: none;
  box-sizing: border-box;
}

/* Global */
* {
  color: black;
}

button {
  background-color: #FFCA29;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin: 5px;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-wrapper {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  height: 10vh;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}
.nav__logo {
  width: 200px;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  top: 10vh;
  height: 60vh;
}
@media (max-width: 800px) {
  .nav__menu {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    position: absolute;
    right: 0;
    transform: translate(100%);
  }
}
@media (max-width: 800px) {
  .nav__menu__active {
    transform: translate(0%);
    width: 100%;
  }
}
.nav__menu li {
  list-style: none;
  padding: 5px 10px;
}
.nav__menu li a {
  cursor: pointer;
  color: #FFCA29;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.nav .hamburger {
  height: 50px;
  margin: 5px 10px;
  width: 50px;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 800px) {
  .nav .hamburger {
    display: none;
  }
}
.nav .hamburger div {
  background-color: #FFCA29;
  border-radius: 3.2px;
  height: 2px;
  margin-top: 12px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
.nav .hamburger__top-bun__clicked {
  margin-top: 16px;
  transform: rotate(-45deg) translateX(-6.4px) translateY(15px);
}
.nav .hamburger__meat__clicked {
  margin-top: -7.2px;
  transform: rotate(45deg) translate(5px) translateY(-3.2px);
}
.nav .hamburger__bottom-bun__clicked {
  opacity: 0;
  transform: rotate(45deg);
}

/* Nav Hamburger */
/* Home header */
.home-header {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-header h1 {
  text-align: center;
}
.home-header__photo {
  width: 600%;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: moveS 30s linear infinite;
  opacity: 0.1;
  z-index: -1;
}
@media (min-width: 800px) {
  .home-header__photo {
    width: 200%;
    animation: moveM 20s linear infinite;
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0px;
}
@media (min-width: 800px) {
  .intro {
    flex-direction: row;
  }
}
.intro p {
  width: 200px;
}

@keyframes moveS {
  0% {
    left: 0;
  }
  100% {
    left: -300%;
  }
}
@keyframes moveM {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
/* Counter */
.counter .counter__container {
  background-color: #FFCA29;
  color: white;
  padding: 20px;
  font-size: clamp(2rem, 10vw, 3rem);
}

/* Prev editions slider*/
.prev-editions {
  height: 400px;
}
@media (min-width: 800px) {
  .prev-editions {
    flex-direction: row;
  }
}
.prev-editions .prev-editions__slider {
  position: relative;
  padding: 10px 60px;
  background-color: #7d7d7d;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.prev-editions .prev-editions__slider__slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.prev-editions .prev-editions__slider__arrow-left {
  height: 40px;
  left: 0;
  margin: auto 10px;
  position: absolute;
  width: 40px;
  top: 0;
  bottom: 0;
}
.prev-editions .prev-editions__slider__arrow-right {
  height: 40px;
  margin: auto 10px;
  position: absolute;
  right: 0;
  width: 40px;
  top: 0;
  bottom: 0;
}

/* Socials */
.footer {
  width: 100vw;
}
.footer__socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  color: white;
  height: 50px;
  padding: 50px;
}
.footer__socials__icon {
  height: 50px;
  margin: 0px 10px;
}
.footer__details {
  display: flex;
}
.footer__details p {
  color: white;
  font-size: 0.8rem;
  padding: 25px 5px 20px 5px;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__details a {
  color: white;
}
.footer__details a:hover {
  color: #FFCA29;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  margin-top: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contact h1 {
  background-color: #FFCA29;
  color: white;
  padding: 10px 20px;
}
.contact__form {
  background-color: #FFCA29;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 10px;
}
.contact__form__table input {
  width: 100%;
}
.contact__form__table textarea {
  width: 100%;
}
.contact__form__table button {
  border: 1px solid white;
}

.participation .participation__steps {
  display: flex;
  flex-wrap: wrap;
}
.participation .participation__steps__button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0px 10px;
}

.active-step {
  background-color: black;
  color: white;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery__card {
  padding: 10px;
}
.gallery__card img {
  height: 200px;
}/*# sourceMappingURL=main.css.map */