@import './config';


/* Global */
* {
    color: $color-text--dark
}

button {
    background-color: $color-accent;
    color: $color-text--light;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin: 5px;
}

section {
    @include flexCenter(column);
}

body {
    min-height: 100vh;
}

.container {
    min-height: 70vh;
    @include flexCenter(column)
}

/* Navbar */

.nav {
    @include flexCenter;
    background-color: $color-main;
    height: 10vh;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;

    &__logo {
        width: 200px;
    }

    &__menu {
        @include flexCenter;
        top: 10vh;
        height: 60vh;
        @include phone {
            background-color: rgb(0, 0, 0);
            flex-direction: column;
            position: absolute;
            right: 0;
            transform: translate(100%);
        }

        &__active {
            @include phone {                
                transform: translate(0%);
                width: 100%;
            }
        }

        li {
            list-style: none;
            padding: 5px 10px;
            
            a {
                cursor: pointer;
                color: $color-accent;
                font-family: 'Open Sans', sans-serif;
                text-decoration: none;
            }
        }
    }


    .hamburger {
        @include tablet {
            display: none;
        }
        
        height: 50px;
        margin: 5px 10px;
        width: 50px;
        z-index: 5;
        cursor: pointer;


        div {
            background-color: $color-accent;
            border-radius: 3.2px;
            height: 2px;
            margin-top: 12px;
            position: relative;
            transition: all 0.3s ease-in-out;
            width: 40px;
        }
        
        &__top-bun__clicked {
            margin-top: 16px;
            transform: rotate(-45deg) translateX(-6.4px) translateY(15px);
        }
        
        &__meat__clicked {
            margin-top: -7.2px;
            transform: rotate(45deg) translate(5px) translateY(-3.2px);
        }
        
        &__bottom-bun__clicked {
            opacity: 0;
            transform: rotate(45deg);
        }
    }
}

/* Nav Hamburger */

// #toggle {
//     display: none;
//   }
  
  

/* Home header */

.home-header {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    @include flexCenter(column);

    h1 {
        text-align: center;
    }

    &__photo {
        width: 600%;
        position: absolute;
        left: 0;
        bottom: 0;
        animation: moveS 30s linear infinite;
        opacity: 0.1;
        z-index: -1;
        @include tablet {
            width: 200%;
            animation: moveM 20s linear infinite;
        }
    }
}

.intro {
    @include flexCenter(column);
    padding: 50px 0px;
    @include tablet {
        flex-direction: row;
    }

    p {
        width: 200px;
    }

};

@keyframes moveS {
    0% {
        left: 0;
    }
    100% {
        left: -300%;
    }
}

@keyframes moveM {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

/* Counter */
.counter {

    #{&}__container {
        background-color: $color-accent;
        color: $color-text--light;
        padding: 20px;
        font-size: clamp(2rem, 10vw, 3rem);
    }
}

/* Prev editions slider*/

.prev-editions {
    height: 400px;

    @include tablet {
        flex-direction: row;
    }

    #{&}__slider {
        position: relative;
        padding: 10px 60px;
        background-color: #7d7d7d;
        height: fit-content;
        @include flexCenter;

        &__slide {
            height: 200px;
            width: 200px;
            @include flexCenter(column);
        }
        
        &__arrow-left {
            height: 40px;
            left: 0;
            margin: auto 10px;
            position: absolute;
            width: 40px;
            top: 0;
            bottom: 0;
        }
          
        &__arrow-right {
            height: 40px;
            margin: auto 10px;
            position: absolute;
            right: 0;
            width: 40px;
            top: 0;
            bottom: 0;
        }
    }
}




/* Socials */

.footer {
    &__socials {
        width: 100%;
        @include flexCenter();
        background-color: $color-main;
        color: $color-text--light;
        height: 50px;
        padding: 50px;
        
        &__icon {
            height: 50px;
            margin: 0px 10px;
        }
    }
    &__details {
        display: flex;
        p {
            color: white;
            font-size: 0.8rem;
            padding: 25px 5px 20px 5px;
            text-align: center;
            width: fit-content;
        }
        a {
            color: white;
          }
          
        a:hover {
            color: $color-accent;
          }
    }
}


/* Footer */

footer {
    background-color: $color-main;
    color: $color-text--light;
    @include flexCenter(column);
    padding: 5px;
    height: 20vh;
}

// CONTACT.HTML
.center {
    @include flexCenter();
}

.contact {
    h1 {
        background-color: $color-accent;
        color: $color-text--light;
        padding: 10px 20px;
    }

    &__form {
        background-color: $color-accent;
        width: 100%;
        max-width: 500px;
        padding: 20px;
        margin: 10px;

            &__table {

                input {
                    width: 100%;
                }

                textarea {
                    width: 100%;
                }

                button {
                    border: 1px solid white;
                }
        }
    }
}


// PARTICIPATION.HTML

.participation {
    #{&}__steps {
        display: flex;
        &__button {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            font-size: 2rem;
            margin: 0px 10px;
        }
    }
}

.active-step {
    background-color: black;
    color: white;
}

.gallery {
    @include flexCenter();
    flex-wrap: wrap;
    &__card {
        padding: 10px;
        img {
            height: 200px;
        }
    }
}