@import "../config";

// MAIN
.participation {
  @include flexCenter(column);
  margin: 50px 0px;
  max-width: 1200px;
  width: 100%;
}

//STEPS GRAPHIC
.participation__steps__container {
  @include flexCenter(column);
  margin-bottom: 50px;
  max-width: 900px; 

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;


    button {
      border-radius: 50%;
      cursor: pointer;
      font-size: 2rem;
      height: 100px;
      margin: 0px 10px;
      width: 100px;
    }
    .active-step {
      &__button {
        background-color: black;
        color: white;
      }
      &__text {
        color: red;
        display: block;
      }
    }
    
  }
  &__description {
    align-self: start;
    font-size: 1.8rem;
    min-height: 120px;
    padding: 20px;
    width: 100%;

    p {
      text-align: center;
    }
  }
}


// TABLES SCENARIOS, FORMS

.participation__tables {
  @include flexCenter(column);
  margin: 30px 0px;
  max-width: 900px;
  padding: 30px 10px;
  width: 100%;

  p {
    padding: 10px 20px;
    text-align: center;
  }

  a {
    background-color: white;
    cursor: pointer;
    margin: 10px 0px;
    padding: 10px 15px;
    width: 80%;
  }
  h2 {
    padding: 10px 0px;
  }

  &__scenarios {
    background-color: $color-accent;
  }

  &__form {
    background-color: black;
    h2 {
      color: white;
      text-align: center;
    }

    p {
      color: white;
    }
    a {
      color: black;
    }
  }
}
