@import "../config";

// MAIN
.participation {
  margin: 50px 0px;
  width: 100%;
  max-width: 1200px;
  @include flexCenter(column);
}

//STEPS GRAPHIC
.participation__steps__container {
  margin: 50px 0px;
  max-width: 900px; 
  @include flexCenter(column);

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;


    button {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      font-size: 2rem;
      margin: 0px 10px;
      cursor: pointer;
    }
    .active-step {
      &__button {
        background-color: black;
        color: white;
      }
      &__text {
        display: block;
        color: red;
      }
    }
    
  }
  &__description {
    width: 100%;
    font-size: 1.8rem;
    align-self: start;
  }
}


// TABLES SCENARIOS, FORMS

.participation__tables {
  width: 100%;
  max-width: 900px;
  @include flexCenter(column);
  margin: 50px 0px;
  padding: 30px 10px;

  a {
    background-color: white;
    margin: 10px 0px;
    width: 80%;
    padding: 10px 15px;
    cursor: pointer;
  }
  h2 {
    padding: 10px 0px;
  }

  &__scenarios {
    background-color: $color-accent;
  }

  &__form {
    background-color: black;
    h2 {
      color: white;
      text-align: center;
    }

    p {
      color: white;
    }
    a {
      color: black;
    }
  }
}
