// Colors and sizes

$color-main: black;
$color-accent: #ffca29;
$color-text--light: white;
$color-text--dark: black;

$big: 800px;
$medium: 600px;
$small: 400px;

// Mixins

@mixin flexCenter($direction: row) {
  align-items: center;
  display: flex;
  flex-direction: $direction;
  justify-content: center;
}

@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin big {
  @media (min-width: $big) {
    @content;
  }
}

/* Global */

* {
  border: none;
  box-sizing: border-box;
  color: $color-text--dark;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: $color-accent;
  color: $color-text--light;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

.site-wrapper {
  min-height: 100vh;
  @include flexCenter(column);
}

.content-wrapper {
  margin-top: 10vh;
  width: 100%;
  @include flexCenter(column);
  flex-grow: 1;
}

section {
  @include flexCenter(column);
}

main {
  width: 100%;
}
